{% extends 'layoutAdministration.html.twig' %}

{% block title %}<title>Mon compte</title>{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mes articles</h5>
                        {% if(posts) %}
                            {{ dump(posts) }}
                                <h5 class="card-title">{{ posts.title |nl2br }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ posts.chapo |nl2br }}</h6>
                                <p class="card-text">{{ posts.content |nl2br }}</p>
                                <p class="card-link">{{ posts.creation_date_fr |nl2br }}</p>
                                <!--<p class="card-link">Another link</p>-->
                                <a class="btn btn-success" href="/modifyArticle/<?= $data['articleId']?>" target="_blank">Modifier</a>
                        {{ __flash.content }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mes informations</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mot de passe</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ posts.pseudo |nl2br }}</th>
                                <td>{{ posts.email |nl2br }}</td>
                                <td>Modifier mon mot de passe</td>
                            </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
                <a class="btn btn-success" href="/" target="_blank">Retour au blog</a>
            </div>
        </div>
    </div>

{% endblock %}