{% extends 'layoutAdministration.html.twig' %}

{% block title %}<title>Mon compte</title>{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mes articles</h5>
                        {% if articles.id is defined and articles.title is defined and articles.chapo is defined and articles.content is defined and articles.creation_date_fr is defined %}
                            {{ dump(articles) }}
                            <h5 class="card-title">{{ articles.title |nl2br }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ articles.chapo |nl2br }}</h6>
                            <p class="card-text">{{ articles.content |nl2br }}</p>
                            <p class="card-link">{{ articles.creation_date_fr |nl2br }}</p>
                            <!--<p class="card-link">Another link</p>-->
                        {% else %}
                            <p class="card-text">Aucun article trouvé</p>
                        {% endif %}
                    </div>
                </div>
                <a class="btn btn-success" href="/update/{{ articles.id }}" target="_blank">Modifier</a>
                <a class="btn btn-primary" href="/create" target="_blank">Ajouter un article</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mes informations</h5>
                        {% if posts %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mot de passe</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">{{ posts.pseudo |nl2br }}</th>
                                <td>{{ posts.email |nl2br }}</td>
                                <td>Modifier mon mot de passe</td>
                            </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
                <a class="btn btn-success" href="/" target="_blank">Retour au blog</a>
            </div>
        </div>
    </div>

{% endblock %}