{% extends 'layoutArticles.html.twig' %}

{% block title %}<title>Article</title>{% endblock %}

{% block content %}
<!-- Main Content -->
    {% if(articles) %}
        <!--Article Content-->
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">
                {{ articles.title |nl2br }}
            </h2>
                <p>
                    {{ articles.chapo |nl2br }}
                </p>
                    <p>{{ articles.content |nl2br }}</p>
                    <p class="post-meta"><strong>Posté par
                        <a>{{ articles.pseudo }}</a>
                            le {{ articles.creation_date_fr }}</strong>
                    </p>
        </div>
        <hr>
    {% endif %}

    {% if comments == false %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">commentaires</h2>
            <p><strong>Il n'y a pas de commentaires</strong></p>
            <p></p>
        </div>
        <br />
    {% else %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">commentaires</h2>
            <p><strong>Par : {{ comments.author }} le : {{ comments.comment_date }}</strong></p>
            <p>{{ comments.comments |nl2br }}</p>
        </div>
        <br />
    {% endif %}
    <hr>
        <div id="contact" class="contact col-lg-8 col-md-10 mx-auto clearfix">
            <h3>Ajouter un commentaire</h3>
            <form name="commentaires" class="form" role="form" action="/article_details/{{ articles.id }}" method="post">
                <input type="hidden" name="__csrf" id="__csrf" value="{{ __csrf }}" />
                <div class="form-group">
                    <label>Auteur : *</label>
                    <input type="text" class="form-control" placeholder="" id="author" name="author" required data-validation-required-message="Entrer votre pseudo." value="">
                    <p class="help-block text-danger"></p>
                </div>

                <div class="form-group">
                    <label for="content">Commentaires : *</label>
                    <textarea class="form-control" id="editor" name="commentaire" rows="15" data-validation-required-message="Ajouter un contenu"></textarea>
                    <span class="help-inline"></span>
                </div>
                <p>* : Champs obligatoires</p>
                <br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                    <a class="btn btn-primary" href="/">Accueil</a>
                </div>
            </form>
        </div>

{% endblock %}
