{% extends 'layoutArticles.html.twig' %}

{% block title %}<title>Article</title>{% endblock %}

{% block content %}
<!-- Main Content -->
    {% if(articles) %}
        <!--Article Content-->
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="post-title">
                {{ articles.title |nl2br }}
            </h2>
                <p>
                    {{ articles.chapo |nl2br }}
                </p>
                    <p>{{ articles.content |nl2br }}</p>
                    <p class="post-meta"><strong>Posté par
                        <a>{{ articles.pseudo }}</a>
                            le {{ articles.creation_date_fr }}</strong>
                    </p>
        </div>
        <hr>
    {% endif %}

    {% for comments in comments %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">commentaires</h2>
            <p><strong>Par : {{ comments.author }} le : {{ comments.comment_date }}</strong></p>
                <p>{{ comments.comments |nl2br }}</p>
        </div>
        <br />
    {% endfor %}
    <hr>
        <div id="contact" class="contact col-lg-8 col-md-10 mx-auto clearfix">
            <h3>Ajouter un commentaire</h3>
                 <form action="/articleDetailsView/<?= $articles['articleId'];?>" method="post">
                    <div class="control-group">
                         <div class="form-group floating-label-form-group controls">
                             <label>Auteur</label>
                             <input type="text" class="form-control" placeholder="<?php if(isset($session['pseudo'])){ echo $session['pseudo'];} else{echo 'pseudo';}?>" id="author" name="author" required data-validation-required-message="Entrer votre pseudo." value="<?php $session['pseudo']?>">
                             <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                         <div class="form-group floating-label-form-group controls">
                            <label>Commentaire</label>
                            <textarea rows="3" class="form-control" placeholder="message" id="comments" name="comments" required data-validation-required-message="Entrer votre message."></textarea>
                            <p class="help-block text-danger"></p>
                         </div>
                    </div>
                    <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
                        </div>
                </form>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto clearfix">
            <a class="btn btn-primary float-right" href="/addArticle">Ajouter un article</a>
        </div>

{% endblock %}
