{% extends 'layout.html.twig' %}

{% block title %}<title>Accueil</title>{% endblock %}

{% block content %}
<!-- Main Content -->
    {% for data in articles %}
    <!--Content index Page-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="" target="_blank">
                        <h2 class="post-title">
                            {{ data.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ data.chapo }}
                        </h3>
                    </a>
                    <p class="post-meta">Posté par

                        <a>{{ data.pseudo }}</a>
                        le {{ data.publicationDate }}</p>
                </div>
            </div>
        </div>
    <div class="col-lg-8 col-md-10 mx-auto clearfix">
        <a class="btn btn-primary float-left" href="/article_details/{{ data.id }}" target="_blank">Voir les commentaires</a>
    </div>
    </div>

    <hr>
    {% endfor %}
{% endblock %}