{% extends 'layoutAdministration.html.twig' %}

{% block title %}<title>Les commentaires</title>{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Commentaires</h4>
                        {% if articles in articles %}
                            <h5 class="card-title">{{ articles.title |nl2br }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ articles.chapo |nl2br }}</h6>
                            <p class="card-text">{{ articles.content |nl2br }}</p>
                            <p class="card-link">{{ articles.creation_date_fr |nl2br }}</p>
                            <!--<p class="card-link">Another link</p>-->
                        {% else %}
                            <p class="card-text">Aucun article trouvé</p>
                        {% endif %}
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Commentaires</h5>
                    {% if comments in comments %}
                        <h5 class="card-title">{{ comments.auhtor |nl2br }}</h5>
                        <p class="card-text">{{ comments.comments |nl2br }}</p>
                        <p class="card-link">{{ comments.comment_date|nl2br }}</p>
                        <!--<p class="card-link">Another link</p>-->
                    {% else %}
                        <p class="card-text">Aucun commentaire trouvé</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        </div>
        <br />
    </div>

{% endblock %}