{% extends 'layoutAdministration.html.twig' %}

{% block title %}<title>Modification de article</title>{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                {% if articles.title is defined and articles.chapo is defined and articles.content is defined and articles.creation_date_fr is defined %}
                <form class="form" role="form" action="/modifyArticle/{{ articles.id }}" method="post">
                    <input type="hidden" name="__csrf" id="__csrf" value="{{ __csrf }}" />
                    <div class="form-group">
                        <label for="author">Auteur :</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="{% if __session.auth is defined %} {{ __session.auth.pseudo }} {% endif %}" value="{{ articles.author |nl2br }}">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <label for="title">Titre :</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="{{ articles.title |nl2br }}" value="{{ articles.title |nl2br }}">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <label for="chapo">Chapô :</label>
                        <textarea type="text" class="form-control" id="chapo" name="chapo" placeholder="{{ articles.chapo |nl2br }}"  value="{{ articles.chapo |nl2br }} ?> rows="5"></textarea>
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <label for="content">Contenu :</label>
                        <textarea type="text" class="form-control" id="content" name="content" placeholder="{{ articles.content |nl2br }}" value="{{ articles.content|nl2br }}" rows="15"></textarea>
                        <span class="help-inline"></span>
                    </div>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Modifier</button>
                        <a class="btn btn-primary" href="/administration">Retour</a>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <hr>

{% endblock %}