{% extends 'layoutAdministration.html.twig' %}

{% block title %}<title>Compte administrateur</title>{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tous les articles</h5>
                        {% for articles in articles %}
                            <br>
                            <h5 class="card-title">{{ articles.title |nl2br }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ articles.chapo |nl2br }}</h6>
                            <p class="card-text">{{ articles.content |nl2br }}</p>
                            <p class="card-link">{{ articles.creation_date_fr |nl2br }}</p>
                            <br>
                            <!--<p class="card-link">Another link</p>-->
                            <a class="btn btn-success" href="/update/{{ articles.id }}" target="_blank">Modifier</a>
                            <a class="btn btn-secondary" href="/comment/{{ articles.id }}" target="_blank">Voir les commentaires</a>
                            <a class="btn btn-danger" href="/deletearticle/{{ articles.id }}" target="_blank">Supprimer l'article</a>
                            <br>
                        {% else %}
                            <p class="card-text">Aucun article trouvé</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tous les commentaires</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Article commenté</th>
                            <th scope="col">Autheur</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Date</th>
                            <th scope="col">Validation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comments in comments %}
                            <tr>
                                <th scope="row">{{ comments.title |nl2br }}</th>
                                <td>{{ comments.author |nl2br }}</td>
                                <td>{{ comments.comments |nl2br }}</td>
                                <td>{{ comments.creation_date_fr|nl2br }}</td>
                                {% if comments.validated == 1 %}
                                <td>Comentaire validé</td>
                                {% elseif comments.validated == 0 %}
                                    <td><a class="btn btn-success" href="/commentvalidated/{{ comments.id }}">Valider le commentaire</a>
                                        <a class="btn btn-danger" href="/deletecomment/{{ comments.id }}">Supprimer le commentaire</a>
                                    </td>
                                    {% else %}
                                        <td>Le commentaire a été supprimé</td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tous les utilisateurs</h5>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Pseudo</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Type d'utilisateur</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for posts in posts %}
                                <tr>
                                    <th scope="row">{{ posts.pseudo |nl2br }}</th>
                                    <td>{{ posts.email |nl2br }}</td>
                                    {% if posts.rank < 3 %}
                                    <td>Utilisateur</td>
                                    {% elseif posts.rank == 3 %}
                                        <td>Administrateur
                                    {% else %}
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="/" target="_blank">Retour au blog</a>
    </div>

{% endblock %}